.subtotal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 2px;
    min-height: 80px;
    height: auto;
    text-align: center;
}

.checkout-btn{
    margin: 5px 0px;
    align-items: center;
    background-color:#f0c14bb2;
    color: #000;
    border: transparent;
    cursor: pointer;
    user-select:auto;
    vertical-align: middle;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 800;
    font-size: 0.6125rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    min-width: 64px;
    padding: 4px;
    border-radius: 4px;
}